@layer components {   
    
    .flybox-tablet-shadow {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1),
            0 0 30px rgba(0,0,0,.3);
    }
    
    .flybox-desktop-shadow {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }
    
    #flybox {
        z-index: 1200;
        @apply
        fixed
        flex
        justify-start
        min-w-5
        rounded-2x
        opacity-0
        invisible
    }

    #flybox.active {
        @apply
        visible
        opacity-100
    }


    /* flybox user cuti */
    .bap-select {
        @apply
        flex
        flex-col
        gap-y-2
        w-full
        bg-white
        rounded-2x
        p-2
        
        desktop:shadow-border-inset
        desktop:w-60
        desktop:p-4
        desktop:right-0
    }
    
    .bap-select > .item{
        @apply
        flex
        gap-4
        cursor-pointer
    }
    
    .bap-select > .item.selected{
        @apply
        text-sea
    }
    
    .bap-select > .item > .square-select{
        width:20px;
        height:20px;
        @apply
        rounded-2x
        shadow-border-inset
    }
    
    .bap-select > .item > .rounded-select{
        width:20px;
        height:20px;
        cursor: pointer;
        @apply
        rounded-full
        shadow-border-inset
    }

    .bap-select > .item > .label{
        line-height: 22px;
    }
}