@layer utilities {
    /* .sc-compact{
        
    }
    .sc-compact > header{
        width: var(--sc-width);
        height: var(--sc-compact-header);
    }
    .sc-compact > .container{
        width:var(--sc-width);
        height: var(--sc-compact-content);
        display: flex;
        align-items: flex-start;
    }
    .sc-compact>.content .sc-compact-height{
        height: var(--sc-compact-content);
    }
    .sc-compact>footer {
        width: var(--sc-width);
        height:var(--sc-compact-footer);
    }

    .screen-auth {
        @apply bg-[url('./img/wall.png')] bg-cover;
    } */


    .sc-splash {
        position: fixed;
        top:0;
        left:0;
        width:100dvw;
        height:100dvh;
        @apply 
        flex
        justify-center
        items-center
        bg-[url('./img/wall.png')] 
        bg-cover;
    }
}